extends ../../layouts/header
block content
    .container
        h2 List profiles
        
        if errors
            each error in errors
                .alert.alert-danger= error
        div 
            table.table.table-hover.table-bordered
                thead
                    tr
                        th Profile
                        //- th Resource_name
                        //- th Resource_type
                        //- th Limit
                        //- th Common
                        //- th Inherited
                        //- th Implicit
                        th
                        th
                tbody
                    if profiles
                        each profile in profiles
                            tr
                                td=profile
                                td
                                    a.btn.btn-light(href="/profiles/detail/" + profile) Detail
                                td
                                    a.btn.btn-light(href="/profiles/delete/" + profile) Delete
        a.btn.btn-primary(href="/profiles/create") Create
                            