extends ../../layouts/header
block content
    .container
        h2 Grant role to user
       
        
        if errors
            each error in errors
                .alert.alert-danger= error
        br
        div 
            form.was-validated(action='/roles/grant' method='POST')
                .form-group
                    label(for='grantee') Grantee
                    input#grantee.form-control(type="text", name='grantee', required='', placeHolder='Enter grantee')
                .form-group
                    label(for='granted_role') Granted role
                    //- input#privilege.form-control(type="dropdown", readonly='', name='privilege', value=privilege)
                    select#granted_role.form-control(name='granted_role')
                        each granted_role in roles
                            option(value= granted_role.role)= granted_role.role
                .form-group
                    label(for='grantable') Grantable:
                    select#grantable.form-control(name='grantable')       
                        option(value='NO') NO
                        option(value='YES') YES
                button.btn.btn-primary(type='submit') Grant
        br
        