extends ../../layouts/header
block content
    .container
        h2 List Roles

        if errors
            each error in errors
                .alert.alert-danger= error
        
        table.table.table-hover.table-bordered
            thead
                tr
                    th ROLE
                    th PASSWORD_REQUIRED
                    th
                    th 
            tbody
                if(roles)
                    each role in roles
                        tr
                            td= role.role
                            td= role.password_required
                            td
                                a.btn.btn-light(href='/roles/detail/' + role.role) Detail
                            td
                                a.btn.btn-light(href='/roles/delete/' + role.role) Delete
        
        
        .row.mx-md-n5
            .col.px-md-5
                a.btn.btn-primary(href="/roles/create" padding='100px') Create Role
            .col.px-md-5
                a.btn.btn-primary(href="/roles/grant?source=/roles/list") Grant to user
