
extends ../../layouts/header.pug
block content
  .container
    h2 Create user
    if errors
      each error in errors
          .alert.alert-danger= error
          
    form.was-validated(action='/users/createuser', method='POST')
      .form-group
        label(for='name') Name:
        input#name.form-control(type='text', placeholder='Enter name', name='name', required='')
        .valid-feedback Valid.
        .invalid-feedback Please fill out this field.
      .form-group
        label(for='uname') User name:
        input#uname.form-control(type='text', placeholder='Enter user name', name='username', required='')
        .valid-feedback Valid.
        .invalid-feedback Please fill out this field.
      .form-group
        label(for='pwd') Password:
        input#pwd.form-control(type='password', placeholder='Enter password', name='password', required='')
        .valid-feedback Valid.
        .invalid-feedback Please fill out this field.
      .form-group
        label(for='email') Email:
        input#email.form-control(type='text', placeholder='Enter email', name='email')
      .form-group
        label(for='address') Address:
        input#address.form-control(type='text', placeholder='Enter address', name='address')
      .form-group
        label(for='sel1') Default table space:
        select#sel1.form-control(name='defaultablespace')
          option USERS
      .form-group
        label(for='sel2') Temporary table space:
        select#sel2.form-control(name='temptablespace')
          option TEMP
      .form-group
        label(for='quota') Quota:
          input#quota.form-control(type='number', value='500', name='quota')
      .form-group
        lable(for='accountstatus') Account status:
        select#accountstatus.form-control(name='accountstatus')
          option UNLOCK
          option LOCK
      .form-group
        label(for='profiles') Profiles: (hold shift to select more than one):
        select#profiles.form-control(multiple='', name='profiles')
          option 1
          option 2
          option 3
          option 4
          option 5
      .form-group
        label(for='roles') Roles: (hold shift to select more than one):
        select#roles.form-control(multiple='', name='roles')
          option 1
          option 2
          option 3
          option 4
          option 5  
      .form-group
        label(for='roles') Privilege: (hold shift to select more than one):
        select#roles.form-control(multiple='', name='privilege')
          option INSERT ON USERS
          option UPDATE ON USERS
          option DELETE ON USERS
          option SELECT ON USERS


      
      button.btn.btn-primary(type='submit') Submit
