
extends ../../layouts/header.pug
block content
  .container
    h2 User detail
        
    if errors
        each error in errors
            .alert.alert-danger= error
        
    
    if user
        form.was-validated(action='/users/alter', method='POST')
            .form-group
                label(for='name') Name:
                input#name.form-control(type='text', placeholder='Enter name', name='name', required='', value= user.name)
                .valid-feedback Valid.
                .invalid-feedback Please fill out this field.
            .form-group
                label(for='username') User name:
                input#username.form-control(type='text', placeholder='Enter user name', name='username', required='', value= user.username)
                .valid-feedback Valid.
                .invalid-feedback Please fill out this field.
            .form-group
                label(for='password') Password:
                input#password.form-control(type='password', placeholder='Enter password', name='password')
            .form-group
                label(for='email') Email:
                input#email.form-control(type='text', placeholder='Enter email', name='email', value= user.email)
            .form-group
                label(for='address') Address:
                input#address.form-control(type='text', placeholder='Enter address', name='address', value = user.address)
            .form-group
                label(for='sel1') Default table space:
                select#sel1.form-control(name='defaultablespace')
                    option USERS
            .form-group
                label(for='sel2') Temporary table space:
                select#sel2.form-control(name='temptablespace')
                    option TEMP
            .form-group
                label(for='quota') Quota:
                input#quota.form-control(type='number', value='500', name='quota')
            .form-group
                lable(for='account_status')= 'Account status: ' + user.account_status
                   
                select#account_status.form-control(name='account_status')
                    option(selected= user.account_status == 'LOCKED') LOCK
                    option(selected= user.account_status == 'OPEN') UNLOCK

            if profiles
                .form-group
                    label(for='profiles') Profiles:
                    select#profiles.form-control(name='profile')
                        each pro in profiles
                            option(selected= pro[0] == profile)=pro
                    


        
            button.btn.btn-primary(type='submit') Submit
